# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables (API keys — NEVER push)
.env

# Database
*.db
*.sqlite3
instance/

# Uploads folder
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large files
*.pdf
*.bin
*.pt
*.onnx

# Junk
main
where
settings.json